In [1]:
# Imports
import pandas as pd
import numpy as np
import sqlite3

### Data Cleaning
- [Data Source](https://nycopendata.socrata.com/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9/data)

In [2]:
# Read data (~10 GB) and print column names
df = pd.read_csv('data/311_Service_Requests_from_2010_to_Present.csv')
print list(df.columns.values)

['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name', 'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip', 'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2', 'Intersection Street 1', 'Intersection Street 2', 'Address Type', 'City', 'Landmark', 'Facility Type', 'Status', 'Due Date', 'Resolution Description', 'Resolution Action Updated Date', 'Community Board', 'Borough', 'X Coordinate (State Plane)', 'Y Coordinate (State Plane)', 'Park Facility Name', 'Park Borough', 'School Name', 'School Number', 'School Region', 'School Code', 'School Phone Number', 'School Address', 'School City', 'School State', 'School Zip', 'School Not Found', 'School or Citywide Complaint', 'Vehicle Type', 'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name', 'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment', 'Garage Lot Name', 'Ferry Direction', 'Ferry Terminal Name', 'Latitude', 'Longitude', 'Location']

/Users/ankoorbhagat/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (8,17,39,40,41,42,43,44,45,46,47,48,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Select data columns that are relevant
cols = ['Created Date', 'Agency', 'Agency Name', 'Borough']
df = df[cols]

In [7]:
# Group by "Complaint Type" and sort count values 
group = df.groupby('Agency').count().sort('Borough').reset_index()
group

/Users/ankoorbhagat/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

        Agency  Created Date  Agency Name  Borough
0          LPC             1            1        1
1          TFA             1            1        1
2          OMB             1            1        1
3          WF1             3            3        3
4           DV             3            3        3
5   NYCSERVICE             3            3        3
6         LOFT             3            3        3
7    DESIGNCOM             3            3        3
8          VAC             4            4        4
9          CWI             4            4        4
10      NYCERS             4            4        4
11         OAE             5            5        5
12        EMTF             5            5        5
13         OPA             6            6        6
14       OCHIA             6            6        6
15         SBS             6            6        6
16          IA             7            7        7
17        DYCD             7            7        7
18        DCAS             8            8        8
19        OCME             8            8        8
20         AJC             9            9        9
21         MOC             9            9        9
22      NYCPPF             9            9        9
23         DOC             9            9        9
24      NYCOOA            10           10       10
25         CAU            10           10       10
26        MOPD            10           10       10
27        DCLA            11           11       11
28         LAW            11           11       11
29        FUND            12           12       12
..         ...           ...          ...      ...
33        MOVA            18           18       18
34        COIB            31           31       31
35        MOIA            31           31       31
36         DCP            53           53       53
37       DORIS            68           68       68
38         ACS            98           98       98
39         DOP           202          202      202
40        OATH           318          318      318
41       NYCEM          1110         1110     1110
42         OPS          1299         1299     1299
43       CHALL          1418         1418     1418
44       DOITT          5748         5748     5748
45         EDC          6772         6772     6772
46         DOE         13474        13474    13474
47       3-1-1         23794        23794    23794
48        FDNY         35063        35063    35063
49        DFTA         69276        69276    69276
50         HRA         77600        77600    77600
51         DHS        116820       116820   116820
52         DCA        141703       141703   141703
53         TLC        159452       159452   159452
54       DOHMH        349741       349741   349741
55         DOF        520595       520595   520595
56         DOB        611710       611710   611710
57         DPR        633149       633149   633149
58        DSNY        917473       917473   917473
59         DEP       1123516      1123516  1123516
60         DOT       1990170      1990170  1990170
61        NYPD       2749222      2749222  2749222
62         HPD       4107036      4107036  4107036

[63 rows x 4 columns]

In [ ]:
# Group by "Complaint Type" and sort count values 
group = df.groupby('Complaint Type').count().sort('Borough').reset_index()

In [8]:
# Select data where "Complaint Type" > 30000 and create a list of "Complaint Types"
complaints = list(group[group['Borough'] >= 150000]['Agency'].values)

In [9]:
complaints

['TLC', 'DOHMH', 'DOF', 'DOB', 'DPR', 'DSNY', 'DEP', 'DOT', 'NYPD', 'HPD']

In [10]:
# Indicator function to indicate which "Complaint Type" to keep
def mask(complaint):
    if complaint in complaints:
        return 1
    else:
        return 0
    
# Apply Indicator function
df['mask'] = df['Agency'].apply(lambda ct: mask(ct))

# Select data with relevant "Complaint Type" and "Borough"
df = df[df['mask'] == 1]
df = df[df['Borough'] != 'Unspecified']

In [ ]:
# # Function to shorten complaint type 
# def shorten(complaint):
#     if complaint == 'GENERAL CONSTRUCTION':
#         return 'CONSTRUCTION'
#     elif complaint == 'PLUMBING':
#         return 'PLUMBING'
#     elif complaint == 'Street Condition':
#         return 'Street'
#     elif complaint == 'Street Light Condition':
#         return 'Streetlight'
#     elif complaint == 'Noise - Residential':
#         return 'Noise'
#     else:
#         return 'Heating'
    
# # Convert string to title
# df['Complaint Type'] = df['Complaint Type'].apply(lambda x: shorten(x))
# df['Complaint Type'] = df['Complaint Type'].apply(lambda x: x.title())
# df['Borough'] = df['Borough'].apply(lambda x: x.title())

In [11]:
df.head(3)

             Created Date Agency              Agency Name   Borough  mask
0  04/19/2012 09:12:00 AM    DOB  Department of Buildings  BROOKLYN     1
1  04/19/2012 04:22:00 PM   DSNY     BCC - Brooklyn North  BROOKLYN     1
2  04/19/2012 11:34:00 AM   DSNY        Brooklyn North 03  BROOKLYN     1

In [12]:
# Convert string to Pandas Datetime object
df['datetime'] = pd.to_datetime(df['Created Date'], format='%m/%d/%Y %H:%M:%S %p')

In [13]:
# Extract date, time and weekday from Pandas Datetime object
df['date'] = df['datetime'].apply(lambda dt: dt.date())
df['year'] = df['datetime'].apply(lambda dt: dt.date().year)
df['time'] = df['datetime'].apply(lambda dt: dt.time())
df['weekday'] = df['datetime'].apply(lambda d: d.weekday())

In [ ]:
# # Select data for 2015 and 2016
# #temp = df[(df['year'] == 2016) | (df['year'] == 2015)]
# temp = df[df['year'] == 2016]
# print temp.shape

# # Function to convert time to minute of data (12:00 midnight = 0)
# def time_to_min_of_day(dt):
#     """
#     Convert time in datetime to minute of day (12:00 midnight = 0)
#     dt: Observed Datetime
#     """
#     return dt.hour * 60 + dt.minute # ignoring seconds

# # Apply time conversion function
# temp['minute'] = temp['time'].apply(lambda dt: time_to_min_of_day(dt))

In [14]:
# Function to convert time to minute of data (12:00 midnight = 0)
def time_to_min_of_day(dt):
    """
    Convert time in datetime to minute of day (12:00 midnight = 0)
    dt: Observed Datetime
    """
    return dt.hour * 60 + dt.minute # ignoring seconds

# Apply time conversion function
df['minute'] = df['time'].apply(lambda dt: time_to_min_of_day(dt))

df.to_csv('NYC311_data.csv', index=False)

In [17]:
# Reset index, select relevant columns and change column names
df.reset_index(inplace = True)
cols = ['Borough', 'Agency', 'minute']
data = df[cols]
data.columns = ['borough', 'agency', 'minute']
data.to_csv('NYC311.csv', index=False)

In [19]:
# Select data for 2015 and 2016
#temp = df[(df['year'] == 2016) | (df['year'] == 2015)]
temp = df[df['year'] == 2016]
print temp.shape

temp.reset_index(inplace = True)
cols = ['Borough', 'Agency', 'minute']
data = temp[cols]
data.columns = ['borough', 'agency', 'minute']
data.to_csv('NYC311.csv', index=False)

(1590445, 12)

### Creating SQL Database from *.csv file

In [20]:
DATABASE = 'NYC311.db'
FILE = 'NYC311.csv'

# Function to parse data by chunk size
def parse_data(file_name, chunksize=10000):
    """
    Return a dataframe from csv file
    """
    return pd.read_csv(file_name, chunksize=chunksize)

# Function to create database
def create_db(conn, file_name):
    """
    Read *.csv data and write data to SQL database accessed by conn
    conn: SQL database connection
    filename: file to read data from
    """
    conn.execute("DROP TABLE IF EXISTS complaints")
    for i, df in enumerate(parse_data(file_name)):
        print 'Working on chunk: {} of file: {}'.format(i, file_name)
        df.to_sql('complaints', conn, index=False, if_exists='append')
        
    conn.cursor().execute(
        """
        CREATE INDEX idx1
        ON complaints(borough, agency, minute)
        """)
    
    conn.commit()
    conn.close()

In [21]:
# Create connection to database and create database
conn = sqlite3.connect(DATABASE)
create_db(conn, FILE)

Working on chunk: 0 of file: NYC311.csv
Working on chunk: 1 of file: NYC311.csv
Working on chunk: 2 of file: NYC311.csv
Working on chunk: 3 of file: NYC311.csv
Working on chunk: 4 of file: NYC311.csv
Working on chunk: 5 of file: NYC311.csv
Working on chunk: 6 of file: NYC311.csv
Working on chunk: 7 of file: NYC311.csv
Working on chunk: 8 of file: NYC311.csv
Working on chunk: 9 of file: NYC311.csv
Working on chunk: 10 of file: NYC311.csv
Working on chunk: 11 of file: NYC311.csv
Working on chunk: 12 of file: NYC311.csv
Working on chunk: 13 of file: NYC311.csv
Working on chunk: 14 of file: NYC311.csv
Working on chunk: 15 of file: NYC311.csv
Working on chunk: 16 of file: NYC311.csv
Working on chunk: 17 of file: NYC311.csv
Working on chunk: 18 of file: NYC311.csv
Working on chunk: 19 of file: NYC311.csv
Working on chunk: 20 of file: NYC311.csv
Working on chunk: 21 of file: NYC311.csv
Working on chunk: 22 of file: NYC311.csv
Working on chunk: 23 of file: NYC311.csv
Working on chunk: 24 of file: NYC311.csv
Working on chunk: 25 of file: NYC311.csv
Working on chunk: 26 of file: NYC311.csv
Working on chunk: 27 of file: NYC311.csv
Working on chunk: 28 of file: NYC311.csv
Working on chunk: 29 of file: NYC311.csv
Working on chunk: 30 of file: NYC311.csv
Working on chunk: 31 of file: NYC311.csv
Working on chunk: 32 of file: NYC311.csv
Working on chunk: 33 of file: NYC311.csv
Working on chunk: 34 of file: NYC311.csv
Working on chunk: 35 of file: NYC311.csv
Working on chunk: 36 of file: NYC311.csv
Working on chunk: 37 of file: NYC311.csv
Working on chunk: 38 of file: NYC311.csv
Working on chunk: 39 of file: NYC311.csv
Working on chunk: 40 of file: NYC311.csv
Working on chunk: 41 of file: NYC311.csv
Working on chunk: 42 of file: NYC311.csv
Working on chunk: 43 of file: NYC311.csv
Working on chunk: 44 of file: NYC311.csv
Working on chunk: 45 of file: NYC311.csv
Working on chunk: 46 of file: NYC311.csv
Working on chunk: 47 of file: NYC311.csv
Working on chunk: 48 of file: NYC311.csv
Working on chunk: 49 of file: NYC311.csv
Working on chunk: 50 of file: NYC311.csv
Working on chunk: 51 of file: NYC311.csv
Working on chunk: 52 of file: NYC311.csv
Working on chunk: 53 of file: NYC311.csv
Working on chunk: 54 of file: NYC311.csv
Working on chunk: 55 of file: NYC311.csv
Working on chunk: 56 of file: NYC311.csv
Working on chunk: 57 of file: NYC311.csv
Working on chunk: 58 of file: NYC311.csv
Working on chunk: 59 of file: NYC311.csv
Working on chunk: 60 of file: NYC311.csv
Working on chunk: 61 of file: NYC311.csv
Working on chunk: 62 of file: NYC311.csv
Working on chunk: 63 of file: NYC311.csv
Working on chunk: 64 of file: NYC311.csv
Working on chunk: 65 of file: NYC311.csv
Working on chunk: 66 of file: NYC311.csv
Working on chunk: 67 of file: NYC311.csv
Working on chunk: 68 of file: NYC311.csv
Working on chunk: 69 of file: NYC311.csv
Working on chunk: 70 of file: NYC311.csv
Working on chunk: 71 of file: NYC311.csv
Working on chunk: 72 of file: NYC311.csv
Working on chunk: 73 of file: NYC311.csv
Working on chunk: 74 of file: NYC311.csv
Working on chunk: 75 of file: NYC311.csv
Working on chunk: 76 of file: NYC311.csv
Working on chunk: 77 of file: NYC311.csv
Working on chunk: 78 of file: NYC311.csv
Working on chunk: 79 of file: NYC311.csv
Working on chunk: 80 of file: NYC311.csv
Working on chunk: 81 of file: NYC311.csv
Working on chunk: 82 of file: NYC311.csv
Working on chunk: 83 of file: NYC311.csv
Working on chunk: 84 of file: NYC311.csv
Working on chunk: 85 of file: NYC311.csv
Working on chunk: 86 of file: NYC311.csv
Working on chunk: 87 of file: NYC311.csv
Working on chunk: 88 of file: NYC311.csv
Working on chunk: 89 of file: NYC311.csv
Working on chunk: 90 of file: NYC311.csv
Working on chunk: 91 of file: NYC311.csv
Working on chunk: 92 of file: NYC311.csv
Working on chunk: 93 of file: NYC311.csv
Working on chunk: 94 of file: NYC311.csv
Working on chunk: 95 of file: NYC311.csv
Working on chunk: 96 of file: NYC311.csv
Working on chunk: 97 of file: NYC311.csv
Working on chunk: 98 of file: NYC311.csv
Working on chunk: 99 of file: NYC311.csv
Working on chunk: 100 of file: NYC311.csv
Working on chunk: 101 of file: NYC311.csv
Working on chunk: 102 of file: NYC311.csv
Working on chunk: 103 of file: NYC311.csv
Working on chunk: 104 of file: NYC311.csv
Working on chunk: 105 of file: NYC311.csv
Working on chunk: 106 of file: NYC311.csv
Working on chunk: 107 of file: NYC311.csv
Working on chunk: 108 of file: NYC311.csv
Working on chunk: 109 of file: NYC311.csv
Working on chunk: 110 of file: NYC311.csv
Working on chunk: 111 of file: NYC311.csv
Working on chunk: 112 of file: NYC311.csv
Working on chunk: 113 of file: NYC311.csv
Working on chunk: 114 of file: NYC311.csv
Working on chunk: 115 of file: NYC311.csv
Working on chunk: 116 of file: NYC311.csv
Working on chunk: 117 of file: NYC311.csv
Working on chunk: 118 of file: NYC311.csv
Working on chunk: 119 of file: NYC311.csv
Working on chunk: 120 of file: NYC311.csv
Working on chunk: 121 of file: NYC311.csv
Working on chunk: 122 of file: NYC311.csv
Working on chunk: 123 of file: NYC311.csv
Working on chunk: 124 of file: NYC311.csv
Working on chunk: 125 of file: NYC311.csv
Working on chunk: 126 of file: NYC311.csv
Working on chunk: 127 of file: NYC311.csv
Working on chunk: 128 of file: NYC311.csv
Working on chunk: 129 of file: NYC311.csv
Working on chunk: 130 of file: NYC311.csv
Working on chunk: 131 of file: NYC311.csv
Working on chunk: 132 of file: NYC311.csv
Working on chunk: 133 of file: NYC311.csv
Working on chunk: 134 of file: NYC311.csv
Working on chunk: 135 of file: NYC311.csv
Working on chunk: 136 of file: NYC311.csv
Working on chunk: 137 of file: NYC311.csv
Working on chunk: 138 of file: NYC311.csv
Working on chunk: 139 of file: NYC311.csv
Working on chunk: 140 of file: NYC311.csv
Working on chunk: 141 of file: NYC311.csv
Working on chunk: 142 of file: NYC311.csv
Working on chunk: 143 of file: NYC311.csv
Working on chunk: 144 of file: NYC311.csv
Working on chunk: 145 of file: NYC311.csv
Working on chunk: 146 of file: NYC311.csv
Working on chunk: 147 of file: NYC311.csv
Working on chunk: 148 of file: NYC311.csv
Working on chunk: 149 of file: NYC311.csv
Working on chunk: 150 of file: NYC311.csv
Working on chunk: 151 of file: NYC311.csv
Working on chunk: 152 of file: NYC311.csv
Working on chunk: 153 of file: NYC311.csv
Working on chunk: 154 of file: NYC311.csv
Working on chunk: 155 of file: NYC311.csv
Working on chunk: 156 of file: NYC311.csv
Working on chunk: 157 of file: NYC311.csv
Working on chunk: 158 of file: NYC311.csv
Working on chunk: 159 of file: NYC311.csv

### SQL Query result to csv format

In [ ]:
# Example: result from SQL query
result = [(u'Sewer', 25), (u'Plumbing', 50), (u'Noise', 80)]

# Convert value to string
print "Do not use this approach: \n", [str(TUPLE) for TUPLE in result]
print '\n'

# Convert values in tuple to string
print "Use this approach: \n", [map(str, TUPLE) for TUPLE in result]
print '\n'

# Join String with "," to create csv row
print "Use this approach: \n", [','.join(map(str, row)) for row in result]
print '\n'

# Join Strings with "\n"
header = 'complaint,count\n'
print "Use this approach: \n", header + '\n'.join([','.join(map(str, row)) for row in result])

In [ ]:
data['borough'].unique()